
* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
  } 
   
  body { 
    background: #fff; 
    color: #000; 
  } 
   
  header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: #3c1f0d; 
    color: white; 
    padding: 16px 32px; 
  } 
   
  header .logo { 
    font-family: 'Brush Script MT', cursive; 
    font-size: 28.8px; 
  } 
   
  header nav a { 
    margin-left: 32px; 
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
  } 
   
  main { 
    padding: 16px; 
  } 
 
   
  h1 { 
    text-align: center;
    font-size: 32px; 
    margin-bottom: 24px; 
  } 
   
  .createAccount-box { 
    width: 90%; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 32px; 
    border: 2px solid #444; 
    border-radius: 10px; 
  } 
   
  .createAccount-box p { 
    text-align: left; 
    margin-bottom: 16px; 
    font-size: 14.4px; 
  } 
  .createAccount-box a {
    display: block;
    font-weight: bold;
    margin-bottom: 16px;
    color: #797676;
  }
  .createAccount-box b { 
    display: block;
    text-align: left; 
    margin-bottom: 16px; 
    font-size: 14.4px; 
  } 
  
  .required { 
    color: green; 
  } 
   
  .createAccount-box input[type="text"], 
  .createAccount-box input[type="password"] { 
    width: 100%; 
    padding: 12px; 
    margin-bottom: 16px; 
    border: 1px solid #aaa; 
    border-radius: 8px; 
    font-size: 16px; 
  } 
   
  .remember { 
    display: flex; 
    align-items: center; 
    margin-bottom: 16px; 
  } 
   
  .remember input[type="checkbox"] { 
    width: 18px; 
    height: 18px; 
    margin-right: 10px; 
    accent-color: green; 
  } 
  .remember label{
    font-weight: bold;
  }
   

  
  .createAccount{ 
    display: block; 
    text-align: left; 
    margin-bottom: 24px; 
    color: darkgreen; 
    text-decoration: none; 
    font-weight: bold; 
  } 
  
 

 .create{
   
  width: 100%; 
  padding: 12px; 
  border: 1px solid #000000; 
  background: #43793B; 
  border-radius: 20px; 
  font-weight: bold; 
 color: #fff;

  }
 
  .create:hover {
    background: #285521;
  }
  .anh{
    width: 7%;
   margin-top: 16px;
   
  }
  .createAccount-box a {
      display: block;
      text-decoration: none;
      color: #000;
  }


   .back-button {
      display: inline-flex;
      align-items: center;  
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #333;
      text-decoration: none;
      padding: 8px 0;
      margin: 10px 0;
      cursor: pointer;
      border: none;
      background: transparent;
    }
    
    .back-button::before {
      content: "←";
      margin-right: 5px;
      font-size: 16px;
    }


  footer { 
    background: #3c1f0d; 
    color: white;
    padding: 32px 16px; 
    margin-top: 48px; 
  } 
   
  .footer-top { 
    margin-bottom: 32px; 
    margin-left: 32px; 
    margin-top: 0;
  } 
   
  .footer-top .logo { 
    font-family: 'Brush Script MT', cursive; 
    font-size: 50px; 
    margin-bottom: 4.8px; 
  } 
  .copyright{
    margin-left: 32px; 
  }
   
  .footer-links { 
    display: flex;
  justify-content: center; 
  align-items: center;
  margin: 30px 0;
  width: 100%;
  } 
   
  .footer-btn { 
  background: white;
  color: #3c1f0d;
  border: none;
  padding: 9.6px 40px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px; 
  min-width: 200px; 
  text-align: center;
  } 
  
   
  .footer-btn:hover { 
    background: #e2e2e2; 
  } 
   
  footer p { 
    font-size: 10px; 
  }
